/* Body Style*/

/* Footer Style*/

.footer1 > .footerLeft > ul > li{
    list-style: none !important;
    text-decoration: none !important;
}

.footer1 > .footerRight > ul > li{
    list-style: none !important;
    text-decoration: none !important;
}

.footer1 > .footerLeft > ul > a{
    list-style: none !important;
    text-decoration: none !important;
}

.footer1 > .footerRight > ul > a{
    list-style: none !important;
    text-decoration: none !important;
}

/*Index container*/

#FooterComponente{
    position: fixed;
    left: 0;
    bottom: 0;  
    width: 100%;
    color: white !important;
    text-align: center;
    
}

/*Grid container and stuff*/

.footerIndex{  
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 10px;
    grid-template-areas: 
    "A B C";
}

.footer1{
display: grid;
width: 100%;
height: 100%;
margin: 2%;
grid-area: A;
grid-template-areas: 
    "D E";
}

.footerLeft{
    margin: 2%;
    grid-area: D;
    }
    .footerRight{
        margin: 2%;
        grid-area: E;
        }

.footer2{
margin: 2%;
grid-area: B;
}
.footer3{
margin: 2%;
grid-area: C;
}



/* Footer icons */

.footerInferior > img{  
    margin: 5px;
    width: 5%;
    height: 5%;
}

/* Interaction changes */

a:hover{
    text-decoration: none;
}

