.contenedor{
    margin: 5%;
    align-content: center;
    text-align: center;
}

.campo{
display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove black;
}
